* {
  box-sizing: border-box;
}

body {
  background-color: gold;
}

.bottomImg {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 20%;
  left: 30%;
}

.user-block {
  width: 600px;
  height: auto;
  border: 1px solid grey;
  padding: 10px 20px 10px 20px;
  color: white;
  background: #002b3e;
}

.user_photo {
  border-radius: 40px;
  width: 66px;
  height: auto;
}
.bottom {
  position: relative;
  color: white;
  font-size: 12px;
  width: 100px;
  height: 30px;
}

.bottom > span {
  padding-left: 10px;
  position: absolute;
  top: 20%;
  left: 50%;
}

.post_img {
  max-width: 480px;
  height: auto;
  margin-left: 80px;
  border-radius: 10px;
}

.user_name,
.user_nickname,
.post_date,
.post_content {
  margin: 5px 10px 5px 15px;
}

.user_nickname,
.post_date {
  color: grey;
}

.col {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.footer {
  display: flex;
  padding-left: 50px;
}
